#container{
    width: 100%;
    background-color: rgb(255,255,255);
}
#header{
    width: 100%;
    padding-top: 0%;
}
.arrowDown{
    transform: rotate(180deg);
    stroke: #fff;
    transition: transform .2s ease-in-out;
   
}
svg:not(:root){
    overflow: hidden;
}
svg{
    width: 20px;
    height: 15px;
    fill: rgb(47, 51, 55);
    text-align: center;
}
path{
    stroke: inherit;
    fill: none;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
}
#deals{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 395px;
    margin: auto;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}
#deals p{
    color: #fff;
    margin: 0 10px 0 0;
}
.closeThin{
    fill: #fff;
    position: absolute;
    right: 15px;
}
div{
    display: block;
}
.form{
    display: flex;
    position: relative;
    width: 410px;
}
.email{
    height: 30px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #dadcdf;
    border-right: none;
    flex: 1;
    padding-left: 10px;
    font-size: 14px;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    padding-top: 10px;
    opacity: 1;
    pointer-events: all;
}
#deal_form{
    height: 90px;
    background-color: #2f3337;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: height .2s ease-in-out;
    padding: 10px;
}
.form>button{
    height: 34px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #dadcdf;
    border-left: none;
    padding: 0 10px;
    width: 80px;
    background-color: #f5f6f7;
    font-size: 14px;
    color: #2f3337;
    cursor: pointer;
}
.errorTag{
    margin: 5px 0;
    position: absolute;
    left: 430px;
    top: 4px;
    width: 200px;
    color: #ff1f2c;
}
#terms{
    display: flex;
    flex: 1;
}
#terms p,#terms p+span{
    color: #fff;
    font-size: 12px;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#terms p{
    cursor: pointer;
}
#terms p+span{
    margin: 15px 4px;
}
.ships,.country{
    display: flex;
    align-items: center;
}
.ships{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #94979b;
   font-size: 12px;
    height: 30px;
    background-color: #f9fafb;
    width: 100%;
    border-top: 1px solid #dadcdf;
}
.ships>div{
    margin-left: 20px;
}
.country img{
    border-radius: 60%;
    width: 26px;
    height: 26px;
    object-fit: cover;
    margin-left: 10px;
}
.country_name{
    color: #444;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 10px;
}
.country{
    text-decoration: transparent;
}
.liner{
    background-color: #fff;
    border-top: 1px solid #dadcdf;
    height: 6px;
    width: 100%;
}
.liner1{
    background-color: #fff;
    border-top: 1px solid #dadcdf;
    height: 6px;
    width: 100%;
    margin-top: 18px;
}
.liner2{
    background-color: #fff;
    border-top: 1px solid #dadcdf;
    height: 6px;
    width: 100%;
    margin-top: -8px;
}
.userbar{
    display: flex;
    align-items: center;
    transition: transform .15s ease-in-out;
    height: 100%;
    margin-right: 16px;
    margin-top: 18px;
    width: 100%;
}
.userbar img{
    width: 190px;
    height: 30px;
    margin-left: 15px;
    cursor: pointer;
}
.userbar>div>input{
    margin-left: 20px;
    border: 1px solid #dadcdf;
    border-radius: 4px 0 0 4px;
    background-color: #f9fafb;
    padding: 0 10px;
    font-size: 16px;
    appearance: none;
    line-height: 34px;
    height: 31px;
    width: 1010px;
}
.search_butn{
    background-color: #ff1f2c;
    height: 34px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0 4px 4px 0;
    transform: translateX(-1px);
    cursor: pointer;
    fill: #ffffff;
    overflow: visible;
}
.user_details{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-left: 20px;
}
.user_details1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    height: 40px;
    margin-top: -5px;
    justify-content: space-between;
}
.user_details1>p{
    margin-left: -32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin-top: 5px;
    padding-top: 22px;
    cursor: pointer;
}
.fa-customize{
    margin-left: 15px;
    margin-top: 5px;
    font-size: 24px;
    color:cadetblue;
    cursor: pointer;
}
.navbar_contents{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 1680px;
    margin: 0 auto;
    margin-bottom: -2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    background-color: #fff;
}
.navbar_contents>a{
    cursor: pointer;
    margin-top: -18px;
}
.navbar_contents>p{
    cursor: default;
    margin-top: -1px;
}
.sales{
    color: rgb(211,90,98);
}